#map {
    height: 500px;  /* Atur tinggi secara eksplisit */
    width: 100%;
    z-index: 1;
}

.leaflet-control-custom {
    margin-top: 58px; /* geser ke bawah agar di bawah tombol + - */
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.info.legend {
    background: white;
    padding: 10px;
    font: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #333;
}

.info.legend h4 {
    margin: 0 0 5px;
    color: #000;
    font-size: 17px;
}

.leaflet-control-geocoder-icon {
    background-image: none !important;
    background-color: transparent !important;
    width: auto !important;
    padding: 0 8px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    white-space: nowrap;
}

.leaflet-control-geocoder-icon::before {
    content: "Cari..";
}




